/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.buttons {
  text-align: center;
  align-items: center;
  margin: 30px;
}

/*
 * Base structure
 */

body {
  font-family: Arial, Helvetica, sans-serif;  
}

* {
  box-sizing: border-box;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[class=cancel] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.row-container {  
  border-radius: 30px;
  width: 100%;
  overflow: auto;
  margin-right: auto; 
  margin-left: auto; 
  margin-top: 100px; 
  margin-bottom: auto;
}
.column-left{  
  width: 40%;
  min-height: fit-content;
  padding: 10px;
  background-color: #FFD500;
}
@media screen and (max-width: 992px) {
  .column-left {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .column-left {
    width: 100%;
  }
}
.column-right{ 
  width: 60%;
  min-height: fit-content;   
  padding-top: 70px;
  background-color: white;
}
@media screen and (max-width: 992px) {
  .column-right {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .column-right {
    width: 100%;
  }
}
.column-right-p2{ 
  width: 60%;
  min-height: fit-content;   
  padding-top: 70px;
  text-align: left;
  background-color: rgb(250, 173, 6);
}
@media screen and (max-width: 992px) {
  .column-right-p2 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .column-right-p2 {
    width: 100%;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.profile {
  display: block;
  margin-right: auto !important;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: 40%;
  padding: 40px 0px 40px 0px;

}
a:link,
a:visited,
a:hover,
a:active {
  font-weight: bold;
  color: #000;
}
h1 p {
margin-bottom: auto;
margin-top: auto;
}
.h1-left{
  margin-left: 3rem;
}
.p-center, .h1-center {
  text-align: center;
}
.p-pad-2 {
   padding: 2rem;
}
.p-pad-3 {
  padding: 3rem;
}
.arrow {
  display: block;
  margin-right: auto !important;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  width: 50px;
  border-radius: 50% ;
  padding: 12px ;	
  background-color: #41464b
}
@media screen and (max-width: 992px) {
  .arrow {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 600px) {
  .arrow {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.next-link {
  -webkit-transform:rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
@media screen and (max-width: 992px) {
  .next-link {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 600px) {
  .next-link {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.prev-link {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (max-width: 992px) {
  .prev-link {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@media screen and (max-width: 600px) {
  .prev-link {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
span {
  float: right;
}
.okok {
  float: right;
  margin-left: 100px;
}
.hidden {
  display: none;
}
[placeholder] {
  color: lightgrey;
}
.radio-custom-hidden {
  display: none !important;
}
.label_item {
  opacity: 1;
}
.radio_item1:checked + label {
  opacity: 1;
}
.radio-custom {
  background-color: rgba(242, 243, 237, 0.966);
  border-radius: 50%;
  border-color: rgba(201, 197, 197, 0.651);
  height: 40px;
  width: 40px;
  padding: 10px ;
}
.radio-custom-selected {
  background-color: #41464b;
  border-radius: 50%;
  border-color: rgba(201, 197, 197, 0.651);
  height: 40px;
  width: 40px;
  padding: 10px ;
}
.roundborder {
  width: 100%;
  height: 80%;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 25px;
}
.w3-left {
  float: left!important;
}
.w3-animate-left {
  position: relative;
  animation: animateleft 0.2s;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animateleft;
}
@media screen and (max-width: 992px) {
  .w3-animate-left {
    animation: animatetop 0.2s;
    animation-name: animatetop;
  }
}
@media screen and (max-width: 600px) {
  .w3-animate-left {
    animation: animatetop 0.2s;
    animation-name: animatetop;
  }
}